<tr>
    <td><%= order.cust_lname %></td>
    <td><%= order.cust_fname %></td>
    <td><%= order.cust_phone %></td>
    <td><%= Product.where(:product_id => order.products_id).pluck(:product_name).first %></td>
    <td><%= ProductSize.where(:product_size_id => order.product_sizes_id).pluck(:product_size_name).first %></td>
    <td><%= ProductStyle.where(:product_style_id => order.product_styles_id).pluck(:product_style_name).first %></td>
    <td>Picked Up</td>
    <td>Manage</td>
</tr>
