<% provide(:title, "Edit #{@order_season.order_season_name}")
    provide(:header, @order_season.order_season_name)
    provide(:button_text, 'Update Ordering Season')
%>

<%= form_for(@order_season,
    :html =>{:class => "form-horizontal center"}) do |f| %>

    <%= render 'shared/error_messages', object: @order_season%>

    <!-- Season Name -->
    <div class="form-group">
        <%= f.label :order_season_name, 'Order Season\'s Name' %>
        <%= f.text_field :order_season_name, class: "form-control",
            placeholder: "Order Season Name" %>
    </div>

    <!-- Active Season -->
    <div class="form-inline">
        <%= f.label :current_season, 'Active Ordering Season' %>
        <%= f.check_box :current_season, class: "checkbox-control" %>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-success submit-style" %>

<% end %>

<div class="page-header">
    <h4>Pickup Dates</h4>
</div>

<div id='input_date' style="display:none;">
    <!-- Add a Pickup date -->
    <%= form_for(@order_season_pickup_date,
        :html => {:class => 'form-inline'}) do |f| %>
        <%= f.hidden_field :order_season_id, value: @order_season.order_season_id %>
        <div class='form-group'>
            <%= f.date_field :pickup_date, class: "form-control" %>
            <%= button_tag(type:'submit', class: "btn btn-success background-color") do %>
                <span class="glyphicon glyphicon-plus">
                    <div class="hidden-text">
                        Save Pickup Date
                    </div>
                </span>
            <% end %>
        </div>
    <% end %>
</div>

<div id='new_date'>
    <!-- Show pickup date form button -->
    <button id='add-date' class="btn btn-success background-color">
        <span class="glyphicon glyphicon-plus">
            <div class="hidden-text">
                Add Pickup Date
            </div>
        </span>
    </button>
</div>

<br/>

<ul class='list-group'>
    <%= render :partial => '/order_season/pickup_date', :locals =>{:order_season => @pickup_dates } %>
</ul>

<script>
    // Event listener for the "+" button
    document.getElementById('add-date').addEventListener('click', showDateField);

    // hide the add button, and show the input form
    function showDateField() {
        document.getElementById('input_date').style.display="block";
        document.getElementById('new_date').style.display="none";
    }
</script>
