<% if local_assigns.has_key? :url %>
    <%= form_for @product, url: url do |f| %>
    <%= render 'shared/error_messages', object: @product %>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="form-group">
                <%= f.label :product_name, 'Product Name' %>
                <%= f.text_field :product_name, class: 'form-control', placeholder: "Product Name" %>
            </div>

            <%=
                f.submit yield(:button_text), class: 'btn btn-success submit-style'
            %>

        </div>
    </div>

    <div class="row">
        <div id='size' class="col-md-6" style="padding-right: 30px;">
            <div class="page-header">
                <center><h4>Product Sizes</h4></center>
            </div>
            <%= render 'shared/error_messages', object: @product_size %>
            <%= render 'product_size'%>
            <button type='button' id="new_size" class="btn btn-success background-color">
                <span class="glyphicon glyphicon-plus">
                    <div class="hidden-text">
                        New Product Size
                    </div>
                </span>
            </button>
        </div>

        <div id='style' class="col-md-6" style="padding-right: 30px;">
            <div class="page-header">
                <center><h4>Product Styles</h4></center>
            </div>
            <%= render 'shared/error_messages', object: @product_style %>
            <%= render 'product_style' %>
            <button type='button' id="new_style" class="btn btn-success background-color">
                <span class="glyphicon glyphicon-plus">
                    <div class="hidden-text">
                        New Product Style
                    </div>
                </span>
            </button>
        </div>
    </div>
<% end %>
<% else %>
        <%
            flash[:danger] = "Uh Oh! The form didn't build correctly! Try Again!"
            redirect_to products_url
        %>
<% end %>
