<% if local_assigns.has_key? :url %>
    <%= form_for @product, url: url do |f| %>
    <%= render 'shared/error_messages', object: @product %>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="form-group">
                <%= f.label :product_name, 'Product Name' %>
                <%= f.text_field :product_name, class: 'form-control', placeholder: "Product Name" %>
            </div>

            <%=
                f.submit yield(:button_text), class: 'btn btn-success submit-style'
            %>

        </div>
    </div>

    <div class="row">
        <div id='size' class="col-md-6" style="padding-right: 30px;">
            <div class="page-header">
                <center><h4>Product Sizes</h4></center>
            </div>
            <% if !@product.new_record? %>
                <ul class='list-group'>
                    <%= render 'product_size'%>
                </ul>
            <% end %>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <strong>Selectable </strong>
                        <%= f.check_box :select_size, class: 'checkbox-control'%>
                    </span>
                    <%= f.text_field :size, class: 'form-control', placeholder: "Product Size", input_html:{multiple:true} %>
                </div>
            </div>
            <button type='button' id="new_size" class="btn btn-success background-color">
                <span class="glyphicon glyphicon-plus">
                    <div class="hidden-text">
                        New Product Size
                    </div>
                </span>
            </button>
        </div>

        <div id='style' class="col-md-6" style="padding-right: 30px;">
            <div class="page-header">
                <center><h4>Product Styles</h4></center>
            </div>
            <% if !@product.new_record? %>
                <ul class='list-group'>
                    <%= render 'product_style'%>
                </ul>
            <% end %>
            <div class="form-group" id='new_styles'>
                <div class="input-group" id='new_style_fields'>
                    <span class="input-group-addon">
                        <strong>Selectable </strong>
                        <%= f.check_box :select_style, class: 'checkbox-control'%>
                    </span>
                    <%= f.text_field :style, class: 'form-control', placeholder: "Product Style" %>
                </div>
            </div>
            <button type='button' id="new_style" class="btn btn-success background-color">
                <span class="glyphicon glyphicon-plus">
                    <div class="hidden-text">
                        New Product Style
                    </div>
                </span>
            </button>
        </div>
    </div>
<% end %>
<% else %>
        <%
            flash[:danger] = "Uh Oh! The form didn't build correctly! Try Again!"
        %>
<% end %>
