<% #if local_assigns.has_key? :url %>
    <%= form_for @product do |f| %>
    <%= render 'shared/error_messages', object: @product %>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="form-group">
                <%= f.label :product_name, 'Product Name' %>
                <%= f.text_field :product_name, class: 'form-control', placeholder: "Product Name" %>
            </div>

            <%=
                f.submit yield(:button_text), class: 'btn btn-success submit-style'
            %>

        </div>
    </div>

    <div class="row">
        <div id='size' class="col-md-6" style="padding-right: 30px;">
            <div class="page-header">
                <center><h4>Product Sizes</h4></center>
            </div>
            <div class="form-group">
                <%= f.fields_for :product_sizes do |builder| %>
                    <%= render 'product_sizes', :f => builder %>
                <% end %>
                <%= link_to_add_field '', f, :product_sizes %>
            </div>
        </div>

        <div id='style' class="col-md-6" style="padding-right: 30px;">
            <div class="page-header">
                <center><h4>Product Styles</h4></center>
            </div>
            <%= f.fields_for :product_styles do |builder| %>
                <%= render 'product_styles', :f => builder %>
            <% end %>
            <%= link_to_add_field '', f, :product_styles %>
        </div>
    </div>
<% end %>
<%# else %>
        <%
            #flash[:danger] = "Uh Oh! The form didn't build correctly! Try Again!"
            #redirect_to products_url
        %>
<% #end %>
