<!DOCTYPE html>
<html>
  <head>
    <title>TurkeyBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'konami.js' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container center" style="padding-left: 10%; padding-right: 10%;">
        <div class="flash-messages">
            <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
        </div>
        <script>
            setTimeout("$('.flash-messages').fadeOut('slow')", 5000);
        </script>
        <%= yield %>
    </div> <!-- /container.center -->
    <%= render 'layouts/footer' %>
  </body>
</html>
