<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | TurkeyBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container center" style="padding-left: 10%; padding-right: 10%;">
        <%= audio_tag('contra-title.mp3', id: 'konami') %>
        <div class="flash-messages">
            <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
        </div>
        <script>
            setTimeout("$('.flash-messages').fadeOut('slow')", 5000);
        </script>
        <div class="page-header">
          <center><h2><%= yield(:header)%></h2></center>
        </div>
        <%= yield %>
    </div> <!-- /container.center -->
    <%= render 'layouts/footer' %>
  </body>
</html>
